// Starts Gmail App fix
// [if !mso] <!
div(class='gmailfix', style='white-space:nowrap; font:15px courier; line-height:0;')
	|&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	|&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	|&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
// <![endif]
// Ends Gmail App fix
// [if !mso] <!
input.mobileCont(type='checkbox', checked='', style='appearance:none!important; overflow:hidden; display:none; width:0px; max-width:0px; height:0px; max-height:0px; visibility:hidden; z-index:-9999; position:absolute; left:100000px;')
// <![endif]

include desktop-content
include mobile-content
