// [if !mso] <!
.showmobile(style='display:none; width:0px; max-height:0px; overflow:hidden;')
	// Interactive
	table.contentInteractive(bgcolor='#ededed', width='100%', border='0', align='center', cellpadding='0', cellspacing='0', style='position:relative; border-bottom: solid 1px #666666;')
		tr
			td
				img(src='https://s3.amazonaws.com/eoa_uploads/2017-12-07/KuRWUASrQJe4vWY0gWeH/html/interactive_01.jpg', alt='', style='display:block;', border='0', height='61', width='353')
			td(align='right', valign='top', bgcolor='#ededed')
				form(style='border:0 !important;')
					input#navbar-checkbox.navbar-checkbox(type='checkbox')
					label.hamburger(for='navbar-checkbox')
						img(alt='', src='http://ctmanager.ninja/test/edk/menuham.jpg', height='58', width='61', border='0')
					label.close(for='navbar-checkbox')
						img(alt='', style='display:block !important;', src='http://ctmanager.ninja/test/edk/menuham_close.jpg', height='58', width='61', border='0')
					.menu
						table.show(cellpadding='0', cellspacing='0', border='0', style='display: none; width: 0px; max-height: 0px; overflow: hidden;')
							tr
								td(bgcolor='#ffffff')
									a(href='#')
										img(style='display:block', src='http://ctmanager.ninja/test/edk/tab1.jpg', border='0', alt='', width='320', height='45')
						table.show(cellpadding='0', cellspacing='0', border='0', style='display: none; width: 0px; max-height: 0px; overflow: hidden;')
							tr
								td(bgcolor='#ffffff')
									a(href='#')
										img(style='display:block', src='http://ctmanager.ninja/test/edk/tab2.jpg', border='0', alt='', width='320', height='45')
					input(type='hidden', name='__HIDDEN_FIELD_NAMES__', value='__HIDDEN_FIELD_NAMES__')
					input(type='hidden', name='charset_', value='UTF-8')
	// Interactive
	// NoInteractive
	table.nocontentInteractive(width='100%', border='0', cellpadding='0', cellspacing='0', align='center', bgcolor='#AB96E1')
		tr
			td(style='line-height:0px; font-size:0px;', width='20', height='30')
				+emailImage('mb-header','jpg', 'alt de la imagen', 'title Image','no-class', '100%', 'auto')
	// NoInteractive
	// Mobile Content
	table(width='100%', border='0', cellpadding='0', cellspacing='0', align='center', bgcolor='#ededed')
		tr
			td(align='center', valign='middle', height='60px')
				font(class='appleLinks', style='display: block; font-size: 26px; color:#666666; font-family: Arial, Helvetica, sans-serif; font-weight:normal;line-height:normal;')
					strong Content Mobile Version
	// Mobile Content
