style(type='text/css').
	body {
		width: 100% !important;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}

	.ReadMsgBody {
		width: 100%;
	}

	.ExternalClass {
		line-height: 100% !important;
	}

	.ExternalClass,
	.ExternalClass p,
	.ExternalClass span,
	.ExternalClass font,
	.ExternalClass td {
		line-height: 100% !important;
	}

	table {
		border-collapse: collapse;
		mso-table-lspace: 0pt;
		mso-table-rspace: 0pt;
		padding: 0;
	}

	table td {
		border-collapse: collapse;
	}

	.appleLinks a {
		color: #000000 !important;
		text-decoration: none !important;
	}

	@media only screen and (max-width: 600px) {
		.contenttable {
			width: 320px !important;
		}

		.hide {
			display: none !important;
		}

		.showmobile {
			display: block !important;
			margin: auto !important;
			width: 320px !important;
			height: auto !important;
			max-height: inherit !important;
			overflow: visible !important;
		}

		.contentInteractive {
			display: none !important;
		}

		/*CSS for Yahoo no spaces*/
		*[class=contenttable] {
			width: 320px !important;
		}

		*[class=hide] {
			display: none !important;
		}

		*[class=showmobile] {
			display: block !important;
			margin: auto !important;
			width: 320px !important;
			height: auto !important;
			max-height: inherit !important;
			overflow: visible !important;
		}

		*[class=contentInteractive] {
			display: none !important;
		}

		/*interactive styes*/
		.mobileCont:checked ~ table *[class=contentInteractive] {
			display: block !important;
		}

		.mobileCont:checked ~ table *[class=nocontentInteractive] {
			display: none !important;
		}
	}
// Hamburger_nav Styles
style(type='text/css').
	/*Hamburguer fix IOS9*/
	body {
		-webkit-animation: bugfix infinite 1s;
	}

	@-webkit-keyframes bugfix {
		from {
			padding: 0;
		}
		to {
			padding: 0;
		}
	}

	/*Hamburguer fix IOS9*/
	/*Hamburger_nav*/
	*[class].show {
		display: block !important;
		width: auto !important;
		overflow: visible !important;
		float: none !important;
		max-height: inherit !important;
		line-height: inherit !important;
		width: 278px;
	}

	*[class].navbar-checkbox {
		display: none;
	}

	*[class].hamburger, *[class].hamburger > img {
		display: block;
	}

	*[class].close, *[class].close > img {
		display: none;
	}

	*[class].menu {
		visibility: hidden;
		opacity: 0;
		height: auto !important;
		position: absolute !important;
		top: 59px !important;
		left: 0px !important;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
		border-top: none;
		background-color: #ffffff;
		box-shadow: 4px 4px 5px -4px #999999 !important;
		display: none;
	}

	*[class].navbar-checkbox:checked ~ *[class].hamburger {
		display: none !important;
	}

	*[class].navbar-checkbox:checked ~ *[class].close, *[class].navbar-checkbox:checked ~ *[class].close > img {
		display: block !important;
		width: auto !important;
		overflow: visible !important;
		float: none !important;
		max-height: inherit !important;
		line-height: inherit !important;
		position: relative !important;
		top: 0px !important;
		z-index: 11 !important; /*left: 0px !important;*/
	}

	*[class].navbar-checkbox:checked ~ *[class].menu {
		visibility: visible !important;
		opacity: 1;
		z-index: 10 !important;
		transition-delay: 0s;
		display: block;
	}

	*[class].hamburger, *[class].close {
		cursor: pointer !important;
	}

	/*Hamburger_nav*/
// Hamburger_nav Styles
style(type='text/css').
	.gmailfix {
		display: none;
		display: none !important;
	}
