// Gmail App fix
div(style='display:none; white-space:nowrap; font:15px courier; color:#ffffff;')
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// <![endif]
.yahootest(style='display:none;')