//Liquid image
div(class='showmobile', style='display:none; width:0; max-height:0; overflow:hidden;')
	table(class='showmobiletable', width='600', border='1', cellpadding='0', cellspacing='0', align='center', style='margin: 0 auto; display: none; border: 0;')
		tr
			td(align='center')
				+emailImage('img2','jpg', 'alt de la imagen', 'title Image','no-class', '100%', 'auto')
//Ends iPhone6 & 6+ Resize
