block config
	include ../utilis/vars
	include ../mixins/mixins
doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		include ../utilis/metaTags
	body(class=currentPage)
		table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='#ffffff')
			tr
				td
					block emailBody
		include ../utilis/footHacks
