extends ../templates/basicEmailTemplate
append config
	-var currentPage = "Home Page"
	-var content = "Content Text"
	-var tittle = "Email Template Customer"
	-var description = "Description Text"
block emailBody
	//include ../components/hamburguer
	include ../components/heroResize
	include ../components/liquidImage
	include ../components/columnStack
	include ../components/inverseColumStck
	include ../components/appleLinkFix
	include ../components/showMobile
	include ../components/yahooFix
	include ../components/emailBg
	include ../components/singleTable
	include ../components/webFont
	include ../components/oldGrid
