extends ../templates/basicEmailTemplate
append config
  -var currentPage = "Email Template"
  -var content = "this is a email temaplate boilerplate"
  -var tittle = "Email Template"
  -var description = "this is a email temaplate boilerplate"
block emailBody
  include ../modules/singleTable
  include ../modules/emailBg
  include ../modules/grid
