extends ../templates/basicEmailTemplate
append config
	-var currentPage = "Home Page"
	-var content = "Content Text"
	-var tittle = "Email Template Customer"
	-var description = "Description Text"
block emailBody
	include ../modules/heroResize
	include ../modules/liquidImage
	include ../modules/columnStack
	include ../modules/inverseColumStck
	include ../modules/appleLinkFix
	include ../modules/showMobile
	include ../modules/yahooFix
	include ../modules/emailBg
	include ../modules/singleTable
	include ../modules/webFont
	include ../modules/oldGrid
