extends ../templates/basicEmailTemplate
append config
	-var currentPage = "Home Page"
	-var content = "Content Text"
	-var tittle = "Email Template Customer"
	-var description = "Description Text"
block emailBody
	include ../modules/RWD/heroResize
	include ../modules/RWD/liquidImage
	include ../modules/RWD/columnStack
	include ../modules/RWD/oldColumStack
	include ../modules/RWD/inverseColumStck
	include ../modules/RWD/appleLinkFix
	include ../modules/RWD/showMobile
	include ../modules/RWD/yahooFix
	include ../modules/emailBg
	include ../modules/singleTable
	include ../modules/webFont
	include ../modules/oldGrid
